
@using WebTruyen.Models
@using WebTruyen.Helper
@model TaiKhoan
@{
    webtruyenptEntities db = new webtruyenptEntities();
    Layout = null;
}
<div class="tab-pane" id="PheDuyet">
    <table class="table table-hover list-bookmark">
        <thead>
            <tr>
                <th>Tên thành viên</th>
                <th>Ngày đăng kí</th>
                <th>Xét duyệt</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <div class="mange-name">
                        <div class="item-thumb">
                            <a href="#" title="Tên thành viên">
                                <img width="75" height="106" src="https://secure.gravatar.com/avatar/b650eff44bd823b9df5d4fbd0d0b8422?s=390&amp;d=mm&amp;r=g" class="img-responsive" style="" alt="#">
                            </a>
                        </div>

                    </div>
                </td>
                <td>
                    <div class="post-on">
                        16/09/2021
                    </div>
                </td>
                <td>
                    <div class="action">
                        <div class="checkbox">
                            <input id="#" class="bookmark-checkbox" value="#" type="checkbox">
                            <label for="#"></label>
                        </div>
                        <a class="wp-manga-delete-bookmark" href="javascript:void(0)" data-post-id="#"><i class="icon ion-ios-close"></i></a>
                    </div>
                </td>
            </tr>


            <tr>
                <td colspan="3">
                    <div class="remove-all float-right">
                        <div class="checkbox">
                            <input id="checkall" type="checkbox">
                            <label for="checkall">Rà soát tất cả</label>
                        </div>
                        <button type="button" id="delete-bookmark-manga" class="btn btn-default">Xóa bỏ</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>