<div class="tab-pane" id="TacPham">
    <div class="tab-pane active" id="truyenYeuThich">
        <table class="table table-hover list-bookmark">
            <thead>
                <tr>
                    <th>Tên truyện</th>
                    <th>Thời gian cập nhật</th>
                    <th>Biên tập</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="mange-name">
                            <div class="item-thumb">
                                <a href="/Truyen/tomTat/truyen-doraemon-1" title="Truyện Doraemon">
                                    <img width="75" height="106" src="/Asset/TacGia/Anh/a18fa4af-223f-4397-b491-0b641bc6b96f_poster-meo-may-doraemon-2005.jpg" class="img-responsive" style="" alt="Truyện Doraemon">
                                </a>
                            </div>
                            <div class="item-infor">
                                <div class="post-title">
                                    <h3>
                                        <a href="/Truyen/tomTat/truyen-doraemon-1">Truyện Doraemon</a>
                                    </h3>
                                </div>
                                <div class="list-chapter">
                                    <div class="chapter-item ">
                                        <span class="chapter font-meta">
                                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-59/" class="btn-link"> Chương: 3 </a>
                                        </span>
                                        <span class="post-on font-meta">
                                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-59/" title="13 phút trước" class="c-new-tag"><!-- --></a>
                                        </span>
                                    </div>
                                    <div class="chapter-item ">
                                        <span class="chapter font-meta">
                                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-58/" class="btn-link"> Chương: 2 </a>
                                        </span>
                                        <span class="post-on font-meta">
                                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-58/" title="22 giờ trước" class="c-new-tag"><!-- --></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="post-on">
                            02/08/2021
                        </div>
                    </td>
                    <td>
                        <div class="action">
                            <div class="checkbox">
                                <input id="1" class="bookmark-checkbox" value="1" type="checkbox">
                                <label for="1"></label>
                            </div>
                            <a class="wp-manga-delete-bookmark" href="javascript:void(0)" data-post-id="1"><i class="icon ion-ios-close"></i></a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <div class="remove-all float-right">
                            <div class="checkbox">
                                <input id="checkall" type="checkbox">
                                <label for="checkall">Rà soát tất cả</label>
                            </div>
                            <button type="button" id="delete-bookmark-manga" class="btn btn-default">Xóa bỏ</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>