<div class="tab-pane" id="ThongTinTacGia">
    <div class="tab-item">
        <div class="choose-avatar">
            <div class="loading-overlay">
                <div class="loading-icon">
                    <i class="fas fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="c-user-avatar">
                <img alt="" src="/Asset/TaiKhoan/Avatar/2-211226356_1560097657656922_8485193369241692719_n.jpg" onerror="this.onerror=null;this.src='https://secure.gravatar.com/avatar/b650eff44bd823b9df5d4fbd0d0b8422?s=390&amp;d=mm&amp;r=g';" class="avatar avatar-195 photo" height="195" width="195" loading="lazy" id="Avatar">
            </div>
        </div>
        <div class="form form-choose-avatar">
            <div>
                <h1>Bút danh:</h1>
                <h2>Lượt xem:</h2>
                <h2>Lượt thích:</h2>
                <h2>Lượt theo dõi:</h2>
            </div>
        </div>
        <div class="tab-pane active" id="truyenYeuThich">
            <table class="table table-hover list-bookmark">
                <thead>
                    <tr>
                        <th>Tên truyện tranh</th>
                        <th>Thời gian cập nhật</th>
                        <th>Biên tập</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="mange-name">
                                <div class="item-thumb">
                                    <a href="/Truyen/tomTat/xuyen-thanh-phao-hoi-minh-tinh-sau-ta-bao-hong-16" title="Xuyên thành pháo hôi minh tinh sau ta bạo hồng">
                                        <img width="75" height="106" src="/Asset/TacGia/Anh/6b68653a-38fd-4dee-a650-deab98354a38_6032781654b808129056318e.jpg" class="img-responsive" style="" alt="Xuyên thành pháo hôi minh tinh sau ta bạo hồng">
                                    </a>
                                </div>
                                <div class="item-infor">
                                    <div class="post-title">
                                        <h3>
                                            <a href="/Truyen/tomTat/xuyen-thanh-phao-hoi-minh-tinh-sau-ta-bao-hong-16">Xuyên thành pháo hôi minh tinh sau ta bạo hồng</a>
                                        </h3>
                                    </div>
                                    <div class="list-chapter">
                                        <div class="chapter-item ">
                                            <span class="chapter font-meta">
                                                <a href="/Truyen/Truyen/xuyen-thanh-phao-hoi-minh-tinh-sau-ta-bao-hong-16?Chuong=2" class="btn-link"> Chap 000 </a>
                                            </span>
                                        </div>
                                        <div class="chapter-item ">
                                            <span class="chapter font-meta">
                                                <a href="/Truyen/Truyen/xuyen-thanh-phao-hoi-minh-tinh-sau-ta-bao-hong-16?Chuong=1" class="btn-link"> Chương 1 </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="post-on">
                                09/09/2021
                            </div>
                        </td>
                        <td>
                            <div class="action">
                                <div class="checkbox">
                                    <input id="16" class="bookmark-checkbox" value="16" type="checkbox">
                                    <label for="16"></label>
                                </div>
                                <a class="wp-manga-delete-bookmark" href="javascript:void(0)" data-post-id="16"><i class="icon ion-ios-close"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            <div class="remove-all float-right">
                                <div class="checkbox">
                                    <input id="checkall" type="checkbox">
                                    <label for="checkall">Rà soát tất cả</label>
                                </div>
                                <button type="button" id="delete-bookmark-manga" class="btn btn-default">Xóa bỏ</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
