
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}
<div class="site-content">

    <div class="c-page-content style-1">
        <div class="content-area">
            <div class="container">
                <div class="row ">

                    <div class="main-col col-md-8 col-sm-8">

                        <div class="ad c-ads custom-code body-top-ads"><img src="~/Asset/Web/wp-content/themes/madara/SKET.Dance.600.893564.jpg" alt="Madara Ads Before Content"></div>

                        <div class="main-col-inner">




                            <div id="post-137" class="c-blog-post post-137 post type-post status-publish format-standard has-post-thumbnail hentry category-manga">

                                <div class="entry-header">
                                    <div class="entry-header_wrap">
                                        <div class="entry-title">
                                            <h2 class="item-title">How To Own Manga For Free.</h2>
                                        </div>
                                        <div class="entry-meta">
                                            <div class="post-on">
                                                <span class="font-meta">posted on</span>
                                                <div class="c-blog__date">

                                                    <span class="posted-on"> <a href="#" rel="bookmark">October 6, 2017</a></span>
                                                    <span class="post-category"><br><a href="#" title="View all posts in MANGA">MANGA</a></span>
                                                </div>
                                            </div>
                                            <div class="post-meta total-count font-meta"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="c-blog__excerpt">
                                    <p>Stevenson and Wolfers also find, a clear role for absolute income and a more limited role for relative income comparisons in determining happiness. </p>
                                </div>

                                <div class="c-blog__thumbnail">
                                    <a href="#" title="How To Own Manga For Free.">
                                        <img width="1920" height="1200" data-src="./wp-content/uploads/2017/10/wallhaven-560695.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-560695.jpg 1920w, ./wp-content/uploads/2017/10/wallhaven-560695-300x188.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-560695-1024x640.jpg 1024w, ./wp-content/uploads/2017/10/wallhaven-560695-768x480.jpg 768w, ./wp-content/uploads/2017/10/wallhaven-560695-1536x960.jpg 1536w" data-sizes="(max-width: 1920px) 100vw, 1920px" class="img-responsive effect-fade lazyloaded" src="~/Asset/Web/wp-content/themes/madara/Mika.Pikazo.600.3427482.jpg" style="padding-top:62.5%;" alt="wallhaven-560695" sizes="(max-width: 1920px) 100vw, 1920px" srcset="./wp-content/uploads/2017/10/wallhaven-560695.jpg 1920w, ./wp-content/uploads/2017/10/wallhaven-560695-300x188.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-560695-1024x640.jpg 1024w, ./wp-content/uploads/2017/10/wallhaven-560695-768x480.jpg 768w, ./wp-content/uploads/2017/10/wallhaven-560695-1536x960.jpg 1536w">
                                    </a>
                                </div>

                                <div class="entry-content">
                                    <div class="entry-content_wrap">
                                        <div>
                                            <h2>What is Lorem Ipsum?</h2>
                                            <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                        <div>
                                            <h2>Why do we use it?</h2>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                        </div>
                                        <p>&nbsp;</p>
                                        <div>
                                            <h2>Where does it come from?</h2>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.</p>
                                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                                        </div>
                                        <div>
                                            <h2>Where can I get some?</h2>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <nav class="navigation paging-navigation">
                                <div class="nav-links">
                                    <div class="nav-next nav-button">
                                        <a href=""#">NEXT POST</a>
                                        <div class="c-blog__thumbnail c-image-hover">
                                            <a href=""#"> <img width="254" height="140" src="~/Asset/Web/wp-content/themes/madara/Mika.Pikazo.600.3427482.jpg" class="img-responsive wp-post-image" alt="" loading="lazy" srcset="./wp-content/uploads/2017/10/wallhaven-543371-254x140.jpg 254w, ./wp-content/uploads/2017/10/wallhaven-543371-300x165.jpg 300w" sizes="(max-width: 254px) 100vw, 254px"> </a>
                                        </div>
                                        <div class="c-blog__summary">
                                            <div class="post-title font-title">
                                                <h6>
                                                    <a href=""#">5 Reasons Why People Love Manga.</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nav-previous nav-button">
                                        <a href="#">PREV POST</a>
                                        <div class="c-blog__thumbnail c-image-hover">
                                            <a href="#"> <img width="254" height="140" src="./wp-content/uploads/2017/10/wallhaven-550620-254x140.jpg" class="img-responsive wp-post-image" alt="" loading="lazy" srcset="./wp-content/uploads/2017/10/wallhaven-550620-254x140.jpg 254w, ./wp-content/uploads/2017/10/wallhaven-550620-300x165.jpg 300w" sizes="(max-width: 254px) 100vw, 254px"> </a>
                                        </div>
                                        <div class="c-blog__summary">
                                            <div class="post-title font-title">
                                                <h6>
                                                    <a href="#">Top Ten Trends In Manga To Watch.</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .nav-links -->
                            </nav>



                            <div class="hr mv40"></div>

                            <div id="madara-comments" class="comments-area">


                                <div id="respond" class="comment-respond">
                                    <h4 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/how-to-own-manga-for-free/#respond" style="display:none;">Cancel reply</a></small></h4><form action="./wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                                        <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea></p><p class="comment-form-author"><label for="author">Name</label> <span class="required">*</span><input id="author" name="author" type="text" placeholder="Name" value="" size="30" aria-required="true"></p>
                                        <p class="comment-form-email"><label for="email">Email</label> <span class="required">*</span><input id="email" name="email" type="text" placeholder="Email" value="" size="30" aria-required="true"></p>
                                        <p class="comment-form-url"><label for="url">Website</label><input id="url" name="url" type="text" placeholder="Website" value="" size="30"></p>
                                        <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="137" id="comment_post_ID">
                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                        </p>
                                    </form>
                                </div><!-- #respond -->

                                <h4 class="comments-title">
                                    19 Comments
                                </h4>


                                <ol class="comment-list" id="comments">
                                    <li class="comment even thread-even depth-1" id="comment-326">
                                        <article id="div-comment-326" class="comment-body">
                                            <div class="block block-left">
                                                <footer class="comment-meta">
                                                    <div class="comment-avatar">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                    </div>
                                                </footer>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="block block-right">
                                                <div class="comment-author">
                                                    <h6 class="heading fn"><a href="#" rel="external nofollow ugc" class="url">Commenter 325</a></h6>
                                                </div>
                                                <!--!comment-author-->
                                                <div class="comment-content">
                                                    <p>estibulum dictum imperdiet lacus. Integer magna libero, feugiat id, tincidunt eu, venenatis vel, mi. Cras mi. Vestibulum est. Pellentesque habi</p>


                                                </div>
                                                <!-- .comment-content -->
                                                <div class="comment-metadata">
                                                    <a href=""#">
                                                        October 13, 2017 at 3:33 am
                                                    </a>
                                                </div>
                                                <!-- .comment-metadata -->
                                            </div>

                                            <div class="reply">
                                                <a rel="nofollow" class="comment-reply-link" href="#" data-commentid="326" data-postid="137" data-belowelement="div-comment-326" data-respondelement="respond" data-replyto="Reply to Commenter 325" aria-label="Reply to Commenter 325">Reply</a>
                                            </div>

                                        </article>
                                    </li><!-- #comment-## -->
                                    <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-327">
                                        <article id="div-comment-327" class="comment-body">
                                            <div class="block block-left">
                                                <footer class="comment-meta">
                                                    <div class="comment-avatar">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                    </div>
                                                </footer>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="block block-right">
                                                <div class="comment-author">
                                                    <h6 class="heading fn"><a href="http://commenter.url" rel="external nofollow ugc" class="url">Commenter 326</a></h6>
                                                </div>
                                                <!--!comment-author-->
                                                <div class="comment-content">
                                                    <p>faucibus orci luctus et ultrices posuere cubilia Curae; Praesent quam turpis, dignissim et, consequat in, porttitor eget, orci. Aenean pretium, orci vel ultrices dapibus, ipsum metus lobortis ante, ac tincidunt urna erat et tortor. Mauris nisl eros, dapibus et, tristique eget, dignissim non, lacus. Fusce aliquam, turpis quis varius blandit, purus elit sollicitudin leo, vitae posuere odio odio id dui. Fusce adipiscing. Maecenas a enim eu sem accumsan laoreet. Donec sem eros, egestas ornare, fermentum quis, malesuada sed, risus. Sed eleifend faucibus magna. Fusce malesuada ante eget massa. Donec consectetur dolor vitae erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elit risus, pellentesque sed, imperdiet quis, pulvinar in, odio.</p>
                                                    <p>Duis nulla diam, fringilla at, feugiat et, tincidunt consectetur, magna. Duis id est ac neq</p>


                                                </div>
                                                <!-- .comment-content -->
                                                <div class="comment-metadata">
                                                    <a href="./how-to-own-manga-for-free/#comment-327">
                                                        October 13, 2017 at 3:33 am
                                                    </a>
                                                </div>
                                                <!-- .comment-metadata -->
                                            </div>

                                            <div class="reply">
                                                <a rel="nofollow" class="comment-reply-link" href="./how-to-own-manga-for-free/?replytocom=327#respond" data-commentid="327" data-postid="137" data-belowelement="div-comment-327" data-respondelement="respond" data-replyto="Reply to Commenter 326" aria-label="Reply to Commenter 326">Reply</a>
                                            </div>

                                        </article>
                                    </li><!-- #comment-## -->
                                    <li class="comment even thread-even depth-1" id="comment-328">
                                        <article id="div-comment-328" class="comment-body">
                                            <div class="block block-left">
                                                <footer class="comment-meta">
                                                    <div class="comment-avatar">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                    </div>
                                                </footer>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="block block-right">
                                                <div class="comment-author">
                                                    <h6 class="heading fn"><a href="http://commenter.url" rel="external nofollow ugc" class="url">Commenter 327</a></h6>
                                                </div>
                                                <!--!comment-author-->
                                                <div class="comment-content">
                                                    <p>onec metus urna, faucibus aliquet, egestas in, adipiscing sit amet, risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin nisi. Nunc hendrerit nisi lobortis purus.</p>
                                                    <p>Vivamus turpis ante, ultrices scelerisque, elementum id, tempor at, quam. Cras eu mauris eu nulla congue convallis. Fusce orn</p>


                                                </div>
                                                <!-- .comment-content -->
                                                <div class="comment-metadata">
                                                    <a href="./how-to-own-manga-for-free/#comment-328">
                                                        October 13, 2017 at 3:33 am
                                                    </a>
                                                </div>
                                                <!-- .comment-metadata -->
                                            </div>

                                            <div class="reply">
                                                <a rel="nofollow" class="comment-reply-link" href="./how-to-own-manga-for-free/?replytocom=328#respond" data-commentid="328" data-postid="137" data-belowelement="div-comment-328" data-respondelement="respond" data-replyto="Reply to Commenter 327" aria-label="Reply to Commenter 327">Reply</a>
                                            </div>

                                        </article>
                                    </li><!-- #comment-## -->
                                    <li class="comment odd alt thread-odd thread-alt depth-1" id="comment-329">
                                        <article id="div-comment-329" class="comment-body">
                                            <div class="block block-left">
                                                <footer class="comment-meta">
                                                    <div class="comment-avatar">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                    </div>
                                                </footer>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="block block-right">
                                                <div class="comment-author">
                                                    <h6 class="heading fn"><a href="http://commenter.url" rel="external nofollow ugc" class="url">Commenter 328</a></h6>
                                                </div>
                                                <!--!comment-author-->
                                                <div class="comment-content">
                                                    <p>s. Sed sollicitudin, leo et condimentum tempus, massa augue dictum est, iaculis posuere nulla felis quis tortor. Pellentesque ac nisl vitae nunc porta pretium. Praesent id erat. Cras leo. Quisque eleifend metus nec lorem.</p>
                                                    <p>Sed sed quam non mauris aliquam rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent quam turpis, dignissim et, consequat in, porttitor eget, orci. Aenean pretium, orci vel ultrices dapibus, ipsum metus lobortis ante, ac tincidunt urna erat et tortor. Mauris nisl eros, dapibus et, tristique eget, dignissim non, lacus. Fusce aliquam, tu</p>


                                                </div>
                                                <!-- .comment-content -->
                                                <div class="comment-metadata">
                                                    <a href="./how-to-own-manga-for-free/#comment-329">
                                                        October 13, 2017 at 3:33 am
                                                    </a>
                                                </div>
                                                <!-- .comment-metadata -->
                                            </div>

                                            <div class="reply">
                                                <a rel="nofollow" class="comment-reply-link" href="./how-to-own-manga-for-free/?replytocom=329#respond" data-commentid="329" data-postid="137" data-belowelement="div-comment-329" data-respondelement="respond" data-replyto="Reply to Commenter 328" aria-label="Reply to Commenter 328">Reply</a>
                                            </div>

                                        </article>
                                    </li><!-- #comment-## -->
                                    <li class="comment even thread-even depth-1" id="comment-330">
                                        <article id="div-comment-330" class="comment-body">
                                            <div class="block block-left">
                                                <footer class="comment-meta">
                                                    <div class="comment-avatar">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/5831233f5ef815de5b01dbdc46f07af0?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                    </div>
                                                </footer>
                                                <!-- .comment-meta -->
                                            </div>
                                            <div class="block block-right">
                                                <div class="comment-author">
                                                    <h6 class="heading fn"><a href="http://commenter.url" rel="external nofollow ugc" class="url">Commenter 329</a></h6>
                                                </div>
                                                <!--!comment-author-->
                                                <div class="comment-content">
                                                    <p>tis pharetra dolor. Donec eleifend leo sit amet diam. Quisque ante. Aliquam erat volutpat.</p>
                                                    <p>Maecenas vel lectus. Maecenas convallis lorem at risus. Nullam facilisis tortor. Quisque quis turpis. Suspendisse consectetur nisl. Integer facilisis, massa consectetur mattis sollicitudin, lectus elit pharetra eros, ut dignissim sapien nunc eu nisi. Nunc tortor. Vestibulum imperdiet. Aliquam erat volutpat. Integer fermentum tincidunt nisl. Vivamus fringilla, augue vel consectetur convallis, justo leo rutrum dui, et dapibus ipsum nulla sit amet est. Curabitur augue</p>


                                                </div>
                                                <!-- .comment-content -->
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        October 13, 2017 at 3:33 am
                                                    </a>
                                                </div>
                                                <!-- .comment-metadata -->
                                            </div>

                                            <div class="reply">
                                                <a rel="nofollow" class="comment-reply-link" href="#" data-commentid="330" data-postid="137" data-belowelement="div-comment-330" data-respondelement="respond" data-replyto="Reply to Commenter 329" aria-label="Reply to Commenter 329">Reply</a>
                                            </div>

                                        </article>
                                    </li><!-- #comment-## -->
                                </ol><!-- .comment-list -->





                            </div><!-- #comments -->

                        </div>

                        <div class="ad c-ads custom-code body-bottom-ads"><img src="~/Asset/Web/wp-content/themes/madara/SKET.Dance.600.893564.jpg" alt="Madara Ads After Content"></div>

                    </div>


                    <div class="sidebar-col col-md-4 col-sm-4">
                        <div id="main-sidebar" class="main-sidebar" role="complementary">
                            <div class="row">
                                <div id="c-w-posts-7" class="widget col-xs-12 col-md-12   default  no-icon heading-style-1 c-w-posts c-popular manga-widget widget-manga-recent">
                                    <div class="widget__inner c-w-posts c-popular manga-widget widget-manga-recent__inner c-widget-wrap">
                                        <div class="c-widget-content style-2">
                                            <div class="widget-heading font-nav"><h5 class="heading">Madara - Posts</h5></div><div class="widget-content">
                                                <div class="popular-item-wrap">

                                                    <div class="popular-img widget-thumbnail c-image-hover">
                                                        <a title="Seven Mind Numbing Facts About Cosplay." href="./seven-mind-numbing-facts-about-cosplay/">
                                                            <img width="300" height="165" data-src="./wp-content/uploads/2017/10/wallhaven-560695-300x165.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-560695-300x165.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-560695-254x140.jpg 254w" data-sizes="(max-width: 300px) 100vw, 300px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-560695-300x165.jpg" style="padding-top:55%;" alt="wallhaven-560695" sizes="(max-width: 300px) 100vw, 300px" srcset="./wp-content/uploads/2017/10/wallhaven-560695-300x165.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-560695-254x140.jpg 254w">
                                                        </a>
                                                    </div>

                                                    <div class="popular-content">
                                                        <h5 class="widget-title">
                                                            <a title="Seven Mind Numbing Facts About Cosplay." href="./seven-mind-numbing-facts-about-cosplay/">Seven Mind Numbing Facts About Cosplay.</a>
                                                        </h5>

                                                        <div class="posts-date">October 6, 2017</div>

                                                    </div>

                                                </div>

                                                <div class="popular-item-wrap">

                                                    <div class="popular-img widget-thumbnail c-image-hover">
                                                        <a title="10 Facts You Never Knew About Manga." href="./10-facts-you-never-knew-about-manga/">
                                                            <img width="300" height="165" data-src="./wp-content/uploads/2017/10/wallhaven-551702-300x165.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-551702-300x165.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-551702-254x140.jpg 254w" data-sizes="(max-width: 300px) 100vw, 300px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-551702-300x165.jpg" style="padding-top:55%;" alt="wallhaven-551702" sizes="(max-width: 300px) 100vw, 300px" srcset="./wp-content/uploads/2017/10/wallhaven-551702-300x165.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-551702-254x140.jpg 254w">
                                                        </a>
                                                    </div>

                                                    <div class="popular-content">
                                                        <h5 class="widget-title">
                                                            <a title="10 Facts You Never Knew About Manga." href="./10-facts-you-never-knew-about-manga/">10 Facts You Never Knew About Manga.</a>
                                                        </h5>

                                                        <div class="posts-date">October 6, 2017</div>

                                                    </div>

                                                </div>

                                                <div class="popular-item-wrap">

                                                    <div class="popular-img widget-thumbnail c-image-hover">
                                                        <a title="What You Know About Manga And What You Don’t Know About Manga." href="./what-you-know-about-manga-and-what-you-dont-know-about-manga/">
                                                            <img width="300" height="165" data-src="./wp-content/uploads/2017/10/wallhaven-543370-300x165.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-543370-300x165.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-543370-254x140.jpg 254w" data-sizes="(max-width: 300px) 100vw, 300px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-543370-300x165.jpg" style="padding-top:55%;" alt="wallhaven-543370" sizes="(max-width: 300px) 100vw, 300px" srcset="./wp-content/uploads/2017/10/wallhaven-543370-300x165.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-543370-254x140.jpg 254w">
                                                        </a>
                                                    </div>

                                                    <div class="popular-content">
                                                        <h5 class="widget-title">
                                                            <a title="What You Know About Manga And What You Don’t Know About Manga." href="./what-you-know-about-manga-and-what-you-dont-know-about-manga/">What You Know About Manga And What You Don’t Know About Manga.</a>
                                                        </h5>

                                                        <div class="posts-date">October 6, 2017</div>

                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

