@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}
<div class="site-content">

    <div class="c-page-content style-2">
        <div class="content-area">
            <div class="container">

                <div class="row ">

                    <div class="main-col col-md-12 col-sm-12">

                        <div class="ad c-ads custom-code body-top-ads"><img src="./wp-content/uploads/2017/10/ads-1.jpg" alt="Madara Ads Before Content"></div>

                        <div class="main-col-inner">





                            <div id="post-20" class="c-blog-post post-20 page type-page status-publish hentry">
                                <div class="entry-header">
                                    <div class="entry-header_wrap">
                                        <div class="entry-title">
                                            <h1 class="item-title h2">CONTACT US</h1>
                                        </div>

                                        <div class="entry-meta">
                                            <div class="post-on">
                                                <span class="font-meta">posted on</span>
                                                <div class="c-blog__date">

                                                    <span class="posted-on"> <a href="./contact/" rel="bookmark">October 6, 2017</a></span>
                                                    <span class="post-category"><br></span>
                                                </div>
                                            </div>
                                            <div class="post-meta total-count font-meta"></div>
                                        </div>
                                    </div>
                                </div>



                                <div class="entry-content">
                                    <div class="entry-content_wrap">
                                        <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        
                                        <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        
                                    </div>
                                </div>





                            </div>

                        </div>

                        <div class="ad c-ads custom-code body-bottom-ads"><img src="~/Asset/Web/wp-content/themes/madara/Arknights.600.3425269.jpg" alt="Madara Ads After Content"></div>

                    </div>



                </div>
            </div>
        </div>
    </div>


</div>