<div class="tab-pane" id="dangKyTacGia">
    <input type="hidden" value="981" name="userID">
    <input type="hidden" id="_wpnonce" name="_wpnonce" value="c0d5ad0b0f"><input type="hidden" name="_wp_http_referer" value="/user-settings/?tab=account-settings"> <div class="tab-group-item">
        <div class="tab-item">
            <div class="settings-title">
                <h3>
                    Bút danh
                </h3>
            </div>
            <div class="form-group row">
                <label for="name-input" class="col-md-3">Bút danh</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" value="" name="user-new-name" id="butdanh">
                </div>
            </div>
        </div>
        <div class="tab-item">
            <div class="settings-title">
                <h3>
                    Vai trò
                </h3>
            </div>
            <div class="form-group row">
                <label for="email-input" class="col-md-3">Vai trò</label>
                <div class="col-md-9">
                    <select class="form-control" value="" id="vaitro">
                        <option value="1">Tác giả</option>
                        <option value="2">Dịch giả</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="email-input-submit" class="col-md-3"></label>
                <div class="col-md-9">
                    <input class="form-control" type="submit" value="Gửi đi" id="guidi" name="account-form-submit">
                </div>
            </div>
        </div>
    </div>
</div>




