@{
    ViewBag.Title = "Home Page";
}
<p id="HovaTen"></p>
<p id="Mail"></p>
<p id="SDT"></p>
<input id="tk" type="text" placeholder="tài khoản" />
<input id="mk" type="text" placeholder="mật khẩu" />
<input type="button" value="đăng nhập" />
@section scripts{
    <script src="~/Scripts/getAPI.js" type="text/javascript"></script>
    <script>
        $("input[type=button]").click(async function () {
            let tk = $("#tk").val()
            let mk = $("#mk").val()
            let rs = await API.login(tk, mk)
            $("#HovaTen").text(rs.HovaTen)
            $("#Mail").text(rs.Mail)
            $("#SDT").text(rs.SDT)
            alert(rs.msg)
        })
    </script>
}
