<div class="tab-pane" id="lichSu">
    <div class="tab-group-item">
        <div class="tab-item">
            <div class="row">
                <div class="col-md-4">
                    <div class="history-content">
                        <div class="item-thumb">
                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/" title="Tôi Sẽ Đi Đến Cùng Với Hoàng Đế">
                                <img width="75" height="106" src="https://tvtruyen.net/wp-content/uploads/2021/07/toi-se-di-den-cung-voi-hoang-de-75x106.jpg" class="img-responsive" style="" alt="Tôi Sẽ Đi Đến Cùng Với Hoàng Đế">
                            </a>
                        </div>
                        <div class="item-infor">
                            <div class="settings-title">
                                <h3>
                                    <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/">Tôi Sẽ Đi Đến Cùng Với Hoàng Đế</a>
                                </h3>
                            </div>
                            <div class="chapter">
                                <span class="chap">
                                    <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-1/">
                                        Chap 1
                                    </a>
                                </span>
                            </div>
                            <div class="post-on font-meta">
                                37 giây trước
                            </div>
                        </div>
                        <div class="action">
                            <a href="javascript:void(0)" class="remove-manga-history" data-manga="4045"><i class="icon ion-ios-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                                            




