
@{
    ViewBag.Title = "Lichsu";
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}
<div class="site-content">
    <div class="c-page-content style-2">
        <div class="content-area">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12 col-sm-12">
                        <div class="c-sidebar">
                            <div class="body-top-sidebar">
                                <div class="row c-row">
                                </div>
                            </div>
                        </div>
                        <div class="main-col-inner">
                            <div id="post-5" class="c-blog-post post-5 page type-page status-publish hentry">
                                <div class="entry-header">
                                    <div class="entry-header_wrap">
                                        <div class="entry-title">
                                            <h1 class="item-title h2">User Settings</h1>
                                        </div>
                                        <div class="entry-meta">
                                            <div class="post-on">
                                                <span class="font-meta">posted on</span>
                                                <div class="c-blog__date">
                                                    <span class="posted-on"> <a href="https://tvtruyen.net/user-settings/" rel="bookmark">04/10/2017</a></span>
                                                    <span class="post-category"><br></span>
                                                </div>
                                            </div>
                                            <div class="post-meta total-count font-meta">
                                                <span class="count-share hide-networks">
                                                    <div class="apss-social-share apss-theme-4 clearfix ">
                                                        <div class="apss-facebook apss-single-icon">
                                                            <a rel="nofollow" title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://tvtruyen.net/user-settings/">
                                                                <div class="apss-icon-block clearfix">
                                                                    <i class="fab fa-facebook-f"></i>
                                                                    <span class="apss-social-text">Share on Facebook</span>
                                                                    <span class="apss-share">Share</span>
                                                                </div>
                                                                <div class="count apss-count" data-url="https://tvtruyen.net/user-settings/" data-social-network="facebook" data-social-detail="https://tvtruyen.net/user-settings/_facebook">0</div>
                                                            </a>
                                                        </div>
                                                        <div class="apss-twitter apss-single-icon">
                                                            <a rel="nofollow" href="https://twitter.com/intent/tweet?text=User%20Settings&amp;url=https://tvtruyen.net/user-settings/&amp;via=cactusthemes" title="Share on Twitter" target="_blank">
                                                                <div class="apss-icon-block clearfix">
                                                                    <i class="fab fa-twitter"></i>
                                                                    <span class="apss-social-text">Share on Twitter</span><span class="apss-share">Tweet</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="apss-pinterest apss-single-icon">
                                                            <a rel="nofollow" title="Share on Pinterest" href="pinIt();">
                                                                <div class="apss-icon-block clearfix">
                                                                    <i class="fab fa-pinterest"></i>
                                                                    <span class="apss-social-text">Share on Pinterest</span>
                                                                    <span class="apss-share">Share</span>
                                                                </div>
                                                                <div class="count apss-count" data-url="https://tvtruyen.net/user-settings/" data-social-network="pinterest" data-social-detail="https://tvtruyen.net/user-settings/_pinterest">0</div>
                                                            </a>
                                                        </div>
                                                        <div class="apss-linkedin apss-single-icon">
                                                            <a rel="nofollow" title="Share on LinkedIn" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=https://tvtruyen.net/user-settings/">
                                                                <div class="apss-icon-block clearfix">
                                                                    <i class="fab fa-linkedin"></i>
                                                                    <span class="apss-social-text">Share on LinkedIn</span>
                                                                    <span class="apss-share">Share</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="apss-digg apss-single-icon">
                                                            <a rel="nofollow" title="Share on Digg" target="_blank" href="http://digg.com/submit?phase=2%20&amp;url=https://tvtruyen.net/user-settings/&amp;title=User%20Settings">
                                                                <div class="apss-icon-block clearfix">
                                                                    <i class="fab fa-digg"></i>
                                                                    <span class="apss-social-text">Share on Digg</span>
                                                                    <span class="apss-share">Share</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="apss-total-share-count">
                                                            <span class="apss-count-number">0</span>
                                                            <div class="apss-total-shares">
                                                                <span class="apss-total-text"> Total</span>
                                                                <span class="apss-shares-text"> Shares</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    Chia sẻ
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-content">
                                    <div class="entry-content_wrap">
                                        <div class="row settings-page">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="nav-tabs-wrap">
                                                    <ul class="nav nav-tabs">
                                                        <li class="">
                                                            <a href="@Url.Action("Theodoi","Home")"><i class="fas fa-heart"></i>Truyện yêu thích</a>
                                                        </li>
                                                        <li class="">
                                                            <a href="@Url.Action("Lichsu","Home")"><i class="icon ion-md-alarm"></i>Lịch sử </a>
                                                        </li>
                                                        <li class="">
                                                            <a href="@Url.Action("DangKiTacGia","Home")"><i class="fas fa-pencil-alt"></i>Đăng kí tác giả </a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="@Url.Action("ThongtinTK","Home")"><i class="icon ion-md-person"></i>Cài đặt tài khoản </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9">
                                                <div class="tabs-content-wrap">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active">
                                                            <div class="tab-group-item">
                                                                <div class="tab-item">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="history-content">
                                                                                <div class="item-thumb">
                                                                                    <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/" title="Tôi Sẽ Đi Đến Cùng Với Hoàng Đế">
                                                                                        <img width="75" height="106" src="https://tvtruyen.net/wp-content/uploads/2021/07/toi-se-di-den-cung-voi-hoang-de-75x106.jpg" class="img-responsive" style="" alt="Tôi Sẽ Đi Đến Cùng Với Hoàng Đế">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="item-infor">
                                                                                    <div class="settings-title">
                                                                                        <h3>
                                                                                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/">Tôi Sẽ Đi Đến Cùng Với Hoàng Đế</a>
                                                                                        </h3>
                                                                                    </div>
                                                                                    <div class="chapter">
                                                                                        <span class="chap">
                                                                                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-1/">
                                                                                                Chap 1
                                                                                            </a>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="post-on font-meta">
                                                                                        37 giây trước
                                                                                    </div>
                                                                                </div>
                                                                                <div class="action">
                                                                                    <a href="javascript:void(0)" class="remove-manga-history" data-manga="4045"><i class="icon ion-ios-close"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-sidebar">
                            <div class="body-bottom-sidebar">
                                <div class="row c-row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



