
@{
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}

    <meta name="viewport" content="width=device-width" />
    <title>testReact</title>
    <script src="~/Scripts/react/react-dom-server.min.js"></script>
    <div id="root"> 
    </div>
    <script type="text/babel">
        class Hello extends React.Component {
          render() {
            return <h1>Hello World!</h1>
          }
        }

        ReactDOM.render(<Hello />, document.getElementById('root'))
    </script>