<div class="tab-pane" id="truyenYeuThich">
    <table class="table table-hover list-bookmark">
        <thead>
            <tr>
                <th>Tên truyện tranh</th>
                <th>Thời gian cập nhật</th>
                <th>Biên tập</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="mange-name">
                        <div class="item-thumb">
                            <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/" title="Tôi Sẽ Đi Đến Cùng Với Hoàng Đế">
                                <img width="75" height="106" src="https://tvtruyen.net/wp-content/uploads/2021/07/toi-se-di-den-cung-voi-hoang-de-75x106.jpg" class="img-responsive" style="" alt="Tôi Sẽ Đi Đến Cùng Với Hoàng Đế">
                            </a>
                        </div>
                        <div class="item-infor">
                            <div class="post-title">
                                <h3>
                                    <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/">Tôi Sẽ Đi Đến Cùng Với Hoàng Đế</a>
                                </h3>
                            </div>
                            <div class="list-chapter">
                                <div class="chapter-item ">
                                    <span class="chapter font-meta">
                                        <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-59/" class="btn-link"> Chap 59 </a>
                                    </span>
                                    <span class="post-on font-meta">
                                        <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-59/" title="13 phút trước" class="c-new-tag"><!-- --></a>
                                    </span>
                                </div>
                                <div class="chapter-item ">
                                    <span class="chapter font-meta">
                                        <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-58/" class="btn-link"> Chap 58 </a>
                                    </span>
                                    <span class="post-on font-meta">
                                        <a href="https://tvtruyen.net/manga/toi-se-di-den-cung-voi-hoang-de/chap-58/" title="22 giờ trước" class="c-new-tag"><!-- --></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="post-on">
                        22/07/2021
                    </div>
                </td>
                <td>
                    <div class="action">
                        <div class="checkbox">
                            <input id="4045" class="bookmark-checkbox" value="4045" type="checkbox">
                            <label for="4045"></label>
                        </div>
                        <a class="wp-manga-delete-bookmark" href="javascript:void(0)" data-post-id="4045"><i class="icon ion-ios-close"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="remove-all float-right">
                        <div class="checkbox">
                            <input id="checkall" type="checkbox">
                            <label for="checkall">Rà soát tất cả</label>
                        </div>
                        <button type="button" id="delete-bookmark-manga" class="btn btn-default">Xóa bỏ</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>