
@{
    ViewBag.Title = "Tóm tắt";
    Layout = "~/Views/Shared/_Layoutwebindex.cshtml";
}
<div class="site-content">
    <div class="post-449 wp-manga type-wp-manga status-publish has-post-thumbnail hentry wp-manga-tag-cartoon wp-manga-tag-kitasou-girl wp-manga-tag-kyoto wp-manga-release-92 wp-manga-author-nasimi wp-manga-artist-bikimisha wp-manga-genre-action wp-manga-genre-anime">
        <div class="profile-manga summary-layout-1" style="background-image: url(./wp-content/themes/madara/images/bg-search.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="c-breadcrumb-wrapper">
                            <div class="c-breadcrumb">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="./">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./manga-genre/action/">
                                            Action
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./manga/massa-consectetur-mattis/">
                                            Manga Video Chapters
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="post-title">
                            <span class="manga-title-badges new">NEW</span>
                            <h1>
                                Manga Video Chapters
                            </h1>
                        </div>
                        <div class="tab-summary ">
                            <div class="summary_image">
                                <a href="./manga/massa-consectetur-mattis/">
                                    <img width="193" height="278" data-src="./wp-content/uploads/2017/10/wallhaven-550618-193x278.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-550618-193x278.jpg 193w, ./wp-content/uploads/2017/10/wallhaven-550618-125x180.jpg 125w" data-sizes="(max-width: 193px) 100vw, 193px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-550618-193x278.jpg" style="padding-top:278px;" alt="wallhaven-550618" sizes="(max-width: 193px) 100vw, 193px" srcset="./wp-content/uploads/2017/10/wallhaven-550618-193x278.jpg 193w, ./wp-content/uploads/2017/10/wallhaven-550618-125x180.jpg 125w">
                                </a>
                            </div>
                            <div class="summary_content_wrap">
                                <div class="summary_content">
                                    <div class="post-content">
                                        <div class="loader-inner ball-pulse">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="post-rating">
                                            <div class="post-total-rating allow_vote"><i class="ion-ios-star ratings_stars rating_current"></i><i class="ion-ios-star ratings_stars rating_current"></i><i class="ion-ios-star ratings_stars rating_current"></i><i class="ion-ios-star ratings_stars rating_current"></i><i class="ion-ios-star-outline ratings_stars"></i><span class="score font-meta total_votes">4.1</span></div><div class="user-rating allow_vote"><i class="ion-ios-star-outline ratings_stars"></i><i class="ion-ios-star-outline ratings_stars"></i><i class="ion-ios-star-outline ratings_stars"></i><i class="ion-ios-star-outline ratings_stars"></i><i class="ion-ios-star-outline ratings_stars"></i><span class="score font-meta total_votes">Your Rating</span></div><input type="hidden" class="rating-post-id" value="449">
                                        </div>
                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>Rating</h5>
                                            </div>
                                            <div class="summary-content vote-details" vocab="https://schema.org/" typeof="AggregateRating">
                                                <span property="itemReviewed" typeof="Book"><span class="rate-title" property="name" title="Manga Video Chapters">Manga Video Chapters</span></span><span> <span> Average <span property="ratingValue" id="averagerate"> 4.1</span> / <span property="bestRating">5</span> </span> </span> out of <span property="ratingCount" id="countrate">85</span>
                                            </div>
                                        </div>
                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Rank
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                2nd, it has 708 monthly views
                                            </div>
                                        </div><div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Author(s)
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                <div class="author-content">
                                                    <a href="./manga-author/nasimi/" rel="tag">Nasimi</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Artist(s)
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                <div class="artist-content">
                                                    <a href="./manga-artist/bikimisha/" rel="tag">Bikimisha</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Genre(s)
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                <div class="genres-content">
                                                    <a href="./manga-genre/action/" rel="tag">Action</a>, <a href="./manga-genre/anime/" rel="tag">Anime</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Tag(s)
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                <div class="tags-content">
                                                    <a href="./manga-tag/cartoon/" rel="tag">Cartoon</a>, <a href="./manga-tag/kitasou-girl/" rel="tag">Kitasou Girl</a>, <a href="./manga-tag/kyoto/" rel="tag">Kyoto</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-status">
                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Release
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                <a href="./manga-release/2015/" rel="tag">2015</a>
                                            </div>
                                        </div>
                                        <div class="post-content_item">
                                            <div class="summary-heading">
                                                <h5>
                                                    Status
                                                </h5>
                                            </div>
                                            <div class="summary-content">
                                                OnGoing
                                            </div>
                                        </div><div class="manga-action">
                                            <div class="count-comment">
                                                <div class="action_icon">
                                                    <a href="#manga-discussion"><i class="icon ion-md-chatbubbles"></i></a>
                                                </div>
                                                <div class="action_detail">
                                                    <span class="disqus-comment-count" data-disqus-url="./manga/massa-consectetur-mattis/">Comments</span>
                                                </div>
                                            </div>
                                            <div class="add-bookmark">
                                                <div class="action_icon">
                                                <script type="text/javascript">var requireLogin2BookMark = true;</script><a href="#" class="wp-manga-action-button" data-action="bookmark" data-post="449" data-chapter="" data-page="1" title="Bookmark"><i class="icon ion-ios-bookmark"></i></a></div><div class="action_detail"><span>8 Users bookmarked This</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="init-links" class="nav-links">
                                        <a href="#" id="btn-read-last" class="c-btn c-btn_style-1">
                                            Read First
                                        </a>
                                        <a href="#" id="btn-read-first" class="c-btn c-btn_style-1">Read Last</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-page-content style-1">
            <div class="content-area">
                <div class="container">
                    <div class="row ">
                        <div class="main-col col-md-12 col-sm-12 sidebar-hidden">
                            <!-- container & no-sidebar-->
                            <div class="main-col-inner">
                                <div class="c-page">
                                    <!-- <div class="c-page__inner"> -->
                                    <div class="c-page__content">

                                        <div class="c-blog__heading style-2 font-heading">

                                            <h2 class="h4">
                                                <i class="icon ion-ios-star"></i>
                                                Summary
                                            </h2>
                                        </div>
                                        <div class="description-summary">
                                            <div class="summary__content show-more active" style="height: 134px;">
                                                <p>Kounosuke is the favored son of a noble family. When he is caught in a fire at the mansion, a blow to the head causes him to remember scenes from a previous life. A former Warring States Period daimyo, he had a torrid love affair with his page, Kageya. Kageya had sworn that when they were born again they would be together in the next life. But when Kounosuke wakes up, three men appear before him – all named Kageya! Can Kounosuke traverse time and be reunited again with his beloved Kageya</p>
                                            </div>
                                            <div class="c-content-readmore">
                                                <span class="btn btn-link content-readmore more" style="display: inline-block;">Show less  </span>
                                            </div>
                                        </div>
                                        <div class="c-blog__heading style-2 font-heading">
                                            <h2 class="h4">
                                                <i class="icon ion-ios-star"></i>
                                                LATEST MANGA RELEASES
                                            </h2>
                                            <a href="#" title="Change Order" class="btn-reverse-order"><i class="icon ion-md-swap"></i></a>
                                        </div>
                                        <div class="page-content-listing single-page">
                                            <div class="listing-chapters_wrap cols-1  show-more">
                                                <ul class="main version-chap">
                                                    <li class="wp-manga-chapter    ">
                                                        <a href="./manga/massa-consectetur-mattis/episode-122/">
                                                            Episode 122 - Finally! Vegeta show them power or Saiyan Prince!!
                                                        </a>
                                                        <span class="chapter-release-date">
                                                            <i>May 10, 2018</i>
                                                        </span>
                                                    </li>
                                                    <li class="wp-manga-chapter    ">
                                                        <a href="./manga/massa-consectetur-mattis/episode-121/">
                                                            Episode 121 - Frieza Finally Fighting
                                                        </a>
                                                        <span class="chapter-release-date">
                                                            <i>May 10, 2018</i>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <div class="c-chapter-readmore">
                                                    <span class="btn btn-link chapter-readmore">
                                                        Show more
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                                <!-- comments-area -->
                                <div id="manga-discussion" class="c-blog__heading style-2 font-heading">
                                    <i class="ion-ios-star"></i>
                                    <h4> MANGA DISCUSSION </h4>
                                </div>
                                <div class="manga-discussion wrapper">
                                    <div class="hr mv40"></div>
                                    <div id="madara-comments" class="comments-area">
                                        <div id="respond" class="comment-respond">
                                            <h4 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/manga/massa-consectetur-mattis/#respond" style="display:none;">Cancel reply</a></small></h4><form action="./wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
                                                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment"></textarea></p><p class="comment-form-author"><label for="author">Name</label> <span class="required">*</span><input id="author" name="author" type="text" placeholder="Name" value="" size="30" aria-required="true"></p>
                                                <p class="comment-form-email"><label for="email">Email</label> <span class="required">*</span><input id="email" name="email" type="text" placeholder="Email" value="" size="30" aria-required="true"></p>
                                                <p class="comment-form-url"><label for="url">Website</label><input id="url" name="url" type="text" placeholder="Website" value="" size="30"></p>
                                                <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                                                <p class="form-submit">
                                                    <input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="449" id="comment_post_ID">
                                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                </p>                <input type="hidden" name="wp_manga_chapter_id" value="0">
                                            </form>
                                        </div><!-- #respond -->
                                        <h4 class="comments-title">
                                            25 Comments
                                        </h4>
                                        <ol class="comment-list" id="comments">
                                            <li class="comment byuser comment-author-san4es_tv even thread-even depth-1" id="comment-717">
                                                <article id="div-comment-717" class="comment-body">
                                                    <div class="block block-left">
                                                        <footer class="comment-meta">
                                                            <div class="comment-avatar">
                                                                <img alt="" src="https://secure.gravatar.com/avatar/fb959c642c28af50acf7b69fec4b1b41?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/fb959c642c28af50acf7b69fec4b1b41?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                            </div>
                                                        </footer>
                                                        <!-- .comment-meta -->
                                                    </div>
                                                    <div class="block block-right">
                                                        <div class="comment-author">
                                                            <h6 class="heading fn">Lahm</h6>
                                                        </div>
                                                        <!--!comment-author-->
                                                        <div class="comment-content">
                                                            <p>Awesome. I like it</p>
                                                        </div>
                                                        <!-- .comment-content -->
                                                        <div class="comment-metadata">
                                                            <a href="./manga/massa-consectetur-mattis/#comment-717">
                                                                January 12, 2018 at 2:02 pm
                                                            </a>
                                                        </div>
                                                        <!-- .comment-metadata -->
                                                    </div>
                                                    <div class="reply">
                                                        <a rel="nofollow" class="comment-reply-link" href="./manga/massa-consectetur-mattis/?replytocom=717#respond" data-commentid="717" data-postid="449" data-belowelement="div-comment-717" data-respondelement="respond" data-replyto="Reply to Lahm" aria-label="Reply to Lahm">Reply</a>
                                                    </div>
                                                </article>
                                            </li><!-- #comment-## -->
                                        </ol><!-- .comment-list -->
                                    </div><!-- #comments -->
                                </div>
                                <!-- END comments-area -->
                                <div class="row c-row related-manga">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="c-blog__heading style-2 font-heading">
                                            <h4>
                                                <i class="icon ion-ios-star"></i>
                                                YOU MAY ALSO LIKE
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="related-reading-wrap related-style-2">
                                            <div class="related-reading-img widget-thumbnail c-image-hover">
                                                <a title="Monatari Takawoa Yangku" href="./manga/monatari-takawoa-yangku/">
                                                    <img width="193" height="278" data-src="./wp-content/uploads/2017/10/wallhaven-530467-193x278.png" data-srcset="./wp-content/uploads/2017/10/wallhaven-530467-193x278.png 193w, ./wp-content/uploads/2017/10/wallhaven-530467-125x180.png 125w" data-sizes="(max-width: 193px) 100vw, 193px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-530467-193x278.png" style="padding-top:278px;" alt="wallhaven-530467" sizes="(max-width: 193px) 100vw, 193px" srcset="./wp-content/uploads/2017/10/wallhaven-530467-193x278.png 193w, ./wp-content/uploads/2017/10/wallhaven-530467-125x180.png 125w">
                                                </a>
                                            </div>
                                            <div class="related-reading-content">
                                                <h5 class="widget-title">
                                                    <a href="./manga/monatari-takawoa-yangku/" title="Monatari Takawoa Yangku">
                                                        Monatari Takawoa Yangku
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-on font-meta">
                                                <span>
                                                    October 13, 2017
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="related-reading-wrap related-style-2">
                                            <div class="related-reading-img widget-thumbnail c-image-hover">
                                                <a title="Kitasou Girl" href="./manga/kitasou-girl/">
                                                    <img width="193" height="278" data-src="./wp-content/uploads/2017/10/wallhaven-539923-193x278.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-539923-193x278.jpg 193w, ./wp-content/uploads/2017/10/wallhaven-539923-125x180.jpg 125w" data-sizes="(max-width: 193px) 100vw, 193px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-539923-193x278.jpg" style="padding-top:278px;" alt="wallhaven-539923" sizes="(max-width: 193px) 100vw, 193px" srcset="./wp-content/uploads/2017/10/wallhaven-539923-193x278.jpg 193w, ./wp-content/uploads/2017/10/wallhaven-539923-125x180.jpg 125w">
                                                </a>
                                            </div>
                                            <div class="related-reading-content">
                                                <h5 class="widget-title">
                                                    <a href="./manga/kitasou-girl/" title="Kitasou Girl">
                                                        Kitasou Girl
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-on font-meta">
                                                <span>
                                                    October 11, 2017
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="related-reading-wrap related-style-2">
                                            <div class="related-reading-img widget-thumbnail c-image-hover">
                                                <a title="Okama Sanmikioa" href="./manga/okama-sanmikioa/">
                                                    <img width="193" height="278" data-src="./wp-content/uploads/2017/10/wallhaven-551939-193x278.png" data-srcset="./wp-content/uploads/2017/10/wallhaven-551939-193x278.png 193w, ./wp-content/uploads/2017/10/wallhaven-551939-125x180.png 125w" data-sizes="(max-width: 193px) 100vw, 193px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-551939-193x278.png" style="padding-top:278px;" alt="wallhaven-551939" sizes="(max-width: 193px) 100vw, 193px" srcset="./wp-content/uploads/2017/10/wallhaven-551939-193x278.png 193w, ./wp-content/uploads/2017/10/wallhaven-551939-125x180.png 125w">
                                                </a>
                                            </div>
                                            <div class="related-reading-content">
                                                <h5 class="widget-title">
                                                    <a href="./manga/okama-sanmikioa/" title="Okama Sanmikioa">
                                                        Okama Sanmikioa
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-on font-meta">
                                                <span>
                                                    October 11, 2017
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="related-reading-wrap related-style-2">
                                            <div class="related-reading-img widget-thumbnail c-image-hover">
                                                <a title="Jikimisuji" href="#">
                                                    <img width="193" height="278" data-src="./wp-content/uploads/2017/10/wallhaven-523582-193x278.jpg" data-srcset="./wp-content/uploads/2017/10/wallhaven-523582-193x278.jpg 193w, ./wp-content/uploads/2017/10/wallhaven-523582-125x180.jpg 125w" data-sizes="(max-width: 193px) 100vw, 193px" class="img-responsive effect-fade lazyloaded" src="./wp-content/uploads/2017/10/wallhaven-523582-193x278.jpg" style="padding-top:278px;" alt="wallhaven-523582" sizes="(max-width: 193px) 100vw, 193px" srcset="./wp-content/uploads/2017/10/wallhaven-523582-193x278.jpg 193w, ./wp-content/uploads/2017/10/wallhaven-523582-125x180.jpg 125w">
                                                </a>
                                            </div>
                                            <div class="related-reading-content">
                                                <h5 class="widget-title">
                                                    <a href="#" title="Jikimisuji">
                                                        Jikimisuji
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-on font-meta">
                                                <span>
                                                    October 18, 2017
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

