
@{
    ViewBag.Title = "truyenchu";
    Layout = "~/Views/Shared/Layoutdoctruyen.cshtml";
}

<div class="reading-content">
    <input type="hidden" id="wp-manga-current-chap" data-id="1678" value="chapter-1">
    <div class="text-left">
        <h3>There’s something about being the last child born in a family.</h3>
        <p>Something about being the only daughter. I’m the youngest in the family, the fourth child born after my three brothers. My whole life I’ve been coddled, protected, bullied, bribed, and all of that is all fine, because I love my brothers, I love my family, but sometimes I wish I were the eldest, so I wouldn’t be underestimated the way I am now. My name is Lana, but to them and my dad, I’m their Lainie baby even at twenty-two.</p>
        <p>My brothers and dad stand by our tent at the side of the track. Dozens of cars zoom past. Blue, black, yellow colors flying by, helmets with rainbow visors, sponsor logos, and testosterone galore. Other than the fact that they are all Formula One race cars, they have one other thing in common: none of those cars are ours. None of those cars are being driven by one of our drivers.</p>
        <p>I sigh and carry the lemonade cups back to our tent. The autumn cold air cuts into my cheeks and steals under my ponytail to freeze the back of my neck. This fall, while testing possible drivers, I’ve gained two bright spots on my cheeks, thank you wind-chill combined with sunlight, and judging by the way my face is stinging now, I’ll bet the red is spreading to my ears and nose.</p>
        <p><strong>There’s a whistle as I pass our neighbor’s tent. “Lainey, that for me?” one of the mechanics calls.</strong></p>
        <p>“Sorry I’ve only got two hands and they’re both spoken for.” I don’t even glance his way—it’s true that everybody is always nice to me, but I try not to get too friendly with the other teams. We’re opponents, after all. Let’s keep it real.</p>
        <blockquote>
            <p>HW RACING TEAM, our logo stares back at me as I reach our tent—black as background, red and white on the logo.</p>
        </blockquote>
        <p>The cars are rumbling past in practice and we already know this will be our last, and worst, season. We used to be the team with the smallest tent, the lowest budget, but the greatest talent. Now we have a small tent, low budget, and no talent. And next year, without my dad … I glance at my dad and he’s in a pullout chair. He’s got his face in his hands, exhaling deeply.</p>
        <p>At the side of the tent, the only driver out of three who still meant to race is puking. The car is smashed. He’s shaking, pale and pissed at himself. The driver was physically unharmed, but we all know, if you smash the car in a test drive, you’re not going to get the gig.</p>
        <p>I bring the guy one of the lemonades. “Sugar,” I coax. “Could help.”</p>
        <p>He keeps staring at his racing boots, his shoulders bent in defeat. “Only chance I get to test and blow it.”</p>
        <p>I set the cup at his side and give him my most comforting smile, though my three brothers and my dad want to murder him.</p>
        <p>“It’s gonna take hundreds of thousands to fix this fucker,” my oldest brother, Drake, grumbles as I head over to my dad.</p>
        <p>“Hundreds of thousands we barely have,” Clay grumbles back.</p>
        <p>I stroke the side of the smashed car. Dad has three cars. My favorite is Kelsey, and I’m relieved she was out. I’m still sad for Moira though.</p>
        <p><strong>The day you think about a car as a friend …</strong></p>
        <p>“Might be time for me to admit, I’m waiting for something that isn’t going to happen,” I hear my dad say.</p>
        <p>I head over to him with the other lemonade cup. “It will, daddy, it will.”</p>
        <p>I’m the assigned team PR. I feed them, organize hotel stays, interviews for our drivers (not that that’s been a big part of the job lately). I get their clothes cleaned, pick up the dry cleaning. Basically, I make a home for them an ocean and a thousand and one miles away from where we grew up in Ohio.</p>
        <p>We uprooted after mom left us, all dad’s money going to a Formula One team. It’s his dream. One thing he gave up for my mom and could never get over. And now that I know it’s his last chance to get it, it’s mine too.</p>
        <h3>“So what’s the plan?”</h3>
        <p>“Not now, Lainie.”</p>
        <p>They’re pissed. They need a pep talk, but I can see dad is fresh out of pep talks. He looks defeated.</p>
        <p>“He’s not the only guy with talent,” I tell my brothers.</p>
        <p>“We don’t have money to take in anyone with talent anymore. Everyone’s been groomed since they were racing go-karts at six. By the time they’re in their teens they’re already owned by their sponsors or their teams,” Drake says.</p>
        <p>“I’ll reel him in.”</p>
        <p>I’m panicked. I’ve never seen them look so defeated and frustrated. When did it stop being fun? When we lost hope of winning.</p>
        <p>“Clay, Drake, Adrian, shush. I’ll do it. You set the cars, dad’s head of the team, let me bring in the talent.”</p>
        <p>It’s my dad’s dream. Now it’s mine too.</p>
        <p>“I’ll do it.”</p>
        <h3>My brothers keep on talking, and so does my dad.</h3>
        <p>I grab my shoe and toss it at them. It hits Drake in the shoulders and he turns, scowling.</p>
        <p>“I said, I’ll do it.”</p>
        <p>“Did you just throw your shoe at me?”</p>
        <p>I grab the other one, and throw it too. “No, I threw you two.”</p>
        <p>“Lainie …”</p>
        <p>“Don’t Lainie me. Dad, you run this team, you guys fix the cars, let me bring in the talent.”</p>
        <p>“Look, Lane, just because dad made you the PR doesn’t mean you have a lick of sense in determining whether someone has talent,” Drake says.</p>
        <p>“It’s not hard to spot. Give me a chance. This is our life. We gave up … everything for this. I don’t want us to quit.” I step forward. “I don’t want Dad to quit.”</p>
        <p><strong>He looks at me.</strong></p>
        <p>I don’t mention that I’m afraid that quitting might make him give up, that quitting will give him some sort of permission to leave now that he has no dream to live for.</p>
        <p><img loading="lazy" class="alignleft wp-image-266 size-medium" src="./wp-content/uploads/2017/10/wallhaven-539934-300x169.jpg" alt="" width="300" height="169" srcset="./wp-content/uploads/2017/10/wallhaven-539934-300x169.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-539934-1024x576.jpg 1024w, ./wp-content/uploads/2017/10/wallhaven-539934-768x432.jpg 768w, ./wp-content/uploads/2017/10/wallhaven-539934-1536x864.jpg 1536w, ./wp-content/uploads/2017/10/wallhaven-539934.jpg 1920w" sizes="(max-width: 300px) 100vw, 300px"> Duis luctus tempus pulvinar. Curabitur tempor diam non blandit rhoncus. Praesent pretium et metus et faucibus. Integer tempor convallis dignissim. Vestibulum eu ligula nisi. In at massa dui. Nullam vel odio sagittis, dignissim quam et, blandit sem. Etiam lacus ante, luctus tristique aliquet sed, dictum et nunc. Sed varius ultrices lorem, aliquam feugiat ante. Etiam mollis, ipsum in ornare fringilla, sapien tellus vulputate metus, a tristique nisi magna cursus sem. Fusce gravida velit purus, in ullamcorper nisl consequat vestibulum. Etiam ut aliquet dolor. Integer et varius enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec euismod aliquet elementum. Integer id quam vitae nulla ornare cursus sit amet a metus. Curabitur ut ullamcorper ex. Nulla molestie id nunc non maximus. Sed vestibulum ut mauris a placerat. <img loading="lazy" class="alignright wp-image-93 size-medium" src="./wp-content/uploads/2017/10/wallhaven-550617-300x169.jpg" alt="" width="300" height="169" srcset="./wp-content/uploads/2017/10/wallhaven-550617-300x169.jpg 300w, ./wp-content/uploads/2017/10/wallhaven-550617-1024x576.jpg 1024w, ./wp-content/uploads/2017/10/wallhaven-550617-768x432.jpg 768w, ./wp-content/uploads/2017/10/wallhaven-550617-1536x864.jpg 1536w, ./wp-content/uploads/2017/10/wallhaven-550617.jpg 1920w" sizes="(max-width: 300px) 100vw, 300px"> Nunc purus neque, eleifend non arcu vel, pretium rhoncus lectus. Nam sagittis dui ac ipsum convallis fermentum. Duis semper nisi ac nunc feugiat semper. Praesent rhoncus auctor quam, at hendrerit urna pretium sed. Suspendisse nulla eros, consequat eu iaculis vitae, interdum in nisi. Sed efficitur nunc quis est rutrum, quis aliquam turpis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur volutpat dui nec felis lobortis, a laoreet leo sagittis. Nunc finibus justo velit, non cursus risus pretium nec. Nunc aliquet ac sapien quis tempor. Praesent eros arcu, gravida vitae consectetur sed, laoreet sed lectus. Phasellus ultrices, velit ullamcorper elementum finibus, est purus dictum lacus, a rhoncus lectus nisl ut odio. Donec in nisl vitae nulla pharetra tristique. Etiam arcu felis, pellentesque at laoreet lobortis, consequat vitae augue.</p>
    </div>
    <div id="text-chapter-toolbar">
        <a href="#"><i class="icon ion-md-settings"></i></a>
    </div>




</div>

