
@{
    ViewBag.Title = "truyentranh";
    Layout = "~/Views/Shared/Layoutdoctruyen.cshtml";
}

<div class="entry-content">
    <div class="entry-content_wrap">

        <div class="read-container">

            <div class="ad c-ads custom-code body-top-ads"><img src="./wp-content/uploads/2017/10/ads-1.jpg" alt="Madara Ads Before Content"></div>

            <div class="reading-content">
                <input type="hidden" id="wp-manga-current-chap" data-id="1607" value="chapter-1">
                <a href="javascript:void(0)" class="page-link-hover page-prev-link" style="cursor: url(&quot;https://live.mangabooth.com/wp-content/themes/madara/images/cursorLeft.png&quot;), auto;"></a>


                <img id="image-3" data-image-paged="3" data-src="https://s3-us-west-2.amazonaws.com/mangastorm//4.jpeg" class="wp-manga-chapter-img img-responsive effect-fade ls-is-cached lazyloaded" src="https://s3-us-west-2.amazonaws.com/mangastorm//4.jpeg">

                <a href="javascript:void(0)" id="btn_view_full_image">View Full Size Image</a>


                <a href="javascript:void(0)" class="page-link-hover page-next-link"></a>
                <script type="text/javascript" id="chapter_preloaded_images">
			var chapter_preloaded_images = ["https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/1.jpeg","https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/2.jpeg","https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/3.jpeg","https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/4.jpeg","https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/5.jpeg","https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/6.jpeg","https:\/\/s3-us-west-2.amazonaws.com\/mangastorm\/\/7.jpeg"], chapter_images_per_page = 1;
                </script>

            </div>


            <div class="ad c-ads custom-code body-bottom-ads"><img src="./wp-content/uploads/2017/10/ads-1.jpg" alt="Madara Ads After Content"></div>
        </div>


    </div>
</div>

